<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body style="font-family: Roboto, Helvetica, sans-serif;">
<div style="background-color: #0099A4; width: auto; height:100px;text-align:center">
    <h2 style="color:#FFFFFF;padding-top:35px;padding-left:30px">SaveTime</h2>
</div>
<div style="font-family: Roboto, Helvetica, sans-serif;text-align:left;padding-left:20%;">

    <p style="color:#0099A4;padding-top:10%;">¡Nueva cita! </p>

    <p style="padding-top:5%;padding-right:20%">Hola {{ name }}, tienes una cita</p>
    <p style="padding-top:5%;padding-right:20%">Desde el servicio de SaveTime te recordamos que has reservado una cita en
        el centro <em style="color:#0099A4;font-style:normal">{{ center }}</em> el día <em
                style="color:#0099A4;font-style:normal">{{ day }}</em> a las <em
                style="color:#0099A4;font-style:normal">{{ time }}</em></p>
    <p style="padding-top:5%;padding-right:20%">Recuerda si tienes algún problema puedes cancelar o modificar la cita
        desde el apartado mis citas</p>

    <div class="col-xs-12" style="padding: 10% 0% 10% 0%">
        <a style="border-radius: 12px;
							padding: 10px 40px 10px 40px;
							background-color:#0099A4;
							color:#FFFFFF;
							border:none;
							font-size:15px;
							text-decoration: none"> Acceso a tu cita</a>
    </div>

    <p style="">El equipo de SaveTime</p>
</div>
<div style="background-color: #868686; width: auto; height:100px;margin-top:15px;text-align:center">

</div>
</body>